@charset "UTF-8";

body{
    background-color: #83F558;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #3E752A
}
h1#Principal {
    text-align: center;
    background-color:#3E752A ;
    color: white;
}

h2{
    color: #15641c;
}

.basico{
    color:slateblue;
}

.intermediario{
    color:slategrey;
}

.avancado {
    color:peru;
}

.destaque {
    background-color:rgba(255, 255, 0, 0.479);
}